#container{
  width: 500px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;

}
h1{
  color: #ccc;
}
p{
  margin: 0;
}
input{
  width: 485px;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 15px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}
.complete{
  text-decoration: line-through;
}

.filter{
  display: flex;
  justify-content: space-between;
}
button{
  border: none;
  outline: none;
  font-size: 18px;
}
#todocontainer{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.delete{
  color: red;
}